body{
	margin: 0;
	font-family: 'helvetica', 'arial', sans-serif;
}

	header{
	background-color: #49923F;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

	header h1{
	color: white;

	}

	header img{
	border-radius:280px;
	border: 20px solid #787E77 ;}

